body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #383a39;
  width: 100%;
  height: 100%;
}

html {
    height:100%;
    font-family: 'Poppins', sans-serif;
}
