
.OrganizationBox {
    background-color: #5f5f5f;
    height: 355px;
    background-color: #33363a;
    border:3px solid white;
    border-right:3px solid white;
    color: white;
    padding-top: 20px;
}

.OrganizationBox img {
    width: 90%;
    height: 250px;
}
